<nav class="navbar navbar-expand-lg navbar-{{variant}} fixed-top bg-{{variant}}" role="navigation">
    <div class="container-fluid">

    <!--left part of navigation bar-->
    <a class="navbar-brand" href="#">SMD</a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
    </button>


    <div class="collapse navbar-collapse" id="exCollapsingNavbar">
      <div *ngIf="checkLogin()">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a routerLink="/movies" class="nav-link">Movies</a></li>
          <li class="nav-item"><a routerLink="/watchlists" class="nav-link">Watchlists</a></li>
          <li class="nav-item">
            <app-movie-search></app-movie-search>
          </li>
        </ul>
      </div>

      <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
        <li class="dropdown order-1">
         <div *ngIf="checkLogin()">
           <app-logout></app-logout>
         </div>
          <div *ngIf="!checkLogin()">
          <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Register/Login <span class="caret"></span></button>

          <app-login></app-login>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
