.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}

button.btn.btn-primary{
  margin-top: 10px;
}

i.fa.fa-star:hover{
  color: #55acee;
}

.user_name{
    font-size:14px;
    font-weight: bold;
  }
  .comments-list .media{
    border-bottom: 1px dotted #ccc;
  }

  .limit-height{
    max-height: 50;
    overflow-y: scroll;
  }
