<app-navbar></app-navbar>
<div *ngIf="movie">
  <div class="container">

    <div class="movie_info" id="movie_info">


      <div class="movie-details">

        <div class="movie_img">
          <img src="https://image.tmdb.org/t/p/w500/{{movie.poster}}" class="img-responsive">
        </div>

        <div class="details">
          <h2> <span>{{movie.title}} ({{movie.release_date.substring(0,4)}})</span></h2>
          <p class="overview">{{movie.overview}}</p>
          <p>Genre: {{movie.genres}}</p>
          <p class="runtime"> <span class="fa fa-clock-o"></span> {{movie.runtime}} minutes</p>
          <p>Language: {{movie.language}}</p>

          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <span class="badge-box" ><i class="fa fa-star" value="5"></i></span>
            <span class="movie__rating">{{getAverage()|number :'1.1-1'}}</span>
          </div>

          <div class="row">
            <div class="col-md-8">
              <div class="add_to_list">
                <select class="form-control" [(ngModel)]="selectedWatchlist" name="selectedWatchlist">
                  <option value="" selected="watchlist">Watchlist</option>
                  <option *ngFor="let watchlist of watchlists" [ngValue]="watchlist">{{watchlist.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="btn-ground">
                <button type="button" class="btn btn-primary" (click)="addTolist()"><span class="fa fa-heart"></span> Add To Wishlist</button>
              </div>
            </div>
          </div>

          <div class="space-ten"></div>
        </div>
          <div class="space-ten"></div>

        <div class="space-ten"></div>

        <div class="btn-ground">
          <button type="button" class="btn btn-primary" (click)="goBack()">back</button>
        </div>

        </div>





      </div>

    <div class="space-ten"></div>

      <div class="comment">
        <div class="row">
          <div class="col-md-8">
            <textarea class="form-control" [(ngModel)]="ratingComment" name="addComment" id="addComment" placeholder="comment" rows="5"></textarea>
          </div>
          <div class="col-md-4">
            <div class="btn-ground">

              <select class="form-control" [(ngModel)]="ratingValue"  name="ratingValue">
                <option value="" selected="">Rating</option>
                <option [ngValue]="1">1</option>
                <option [ngValue]="2">2</option>
                <option [ngValue]="3">3</option>
                <option [ngValue]="4">4</option>
                <option [ngValue]="5">5</option>
              </select>
              <button type="button" class="btn btn-primary" (click)="rateMovie()"><span class="glyphicon glyphicon-shopping-cart"></span> rate movie</button>

            </div>
          </div>

        </div>
      </div>



      <!-- This is a comments list Template -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
              <h1><small class="pull-right" *ngIf="this.ratings">{{this.ratings?.length}} Ratings</small> Ratings </h1>
            </div>
            <div class="comments-list" *ngIf="ratings?.length > 0">
              <div class="media" *ngFor="let rating of ratings">
                <div class="media-body">

                  <p><span><h4 class="media-heading user_name">UserID: {{rating.userId}}</h4></span>
                    <span ><small class="pull-right">{{rating.timestamp}}</small> Score: {{rating.score}}/5</span>
                  </p>
                  <p>  {{rating.comment}} </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Ends comments list Template -->

  </div>
  </div>


  <div class="add_to_list">
    <select class="form-control" [(ngModel)]="selectedWatchlist" name="selectedWatchlist">
      <option value="" selected="watchlist">Watchlist</option>
      <option *ngFor="let watchlist of watchlists" [ngValue]="watchlist">{{watchlist.name}}</option>
    </select>
    <button type="button" class="btn btn-primary" (click)="addTolist()"><span class="fa fa-heart"></span> Add To Wishlist</button>
  </div>





