<app-navbar></app-navbar>

<app-movielist></app-movielist>

<div class="container">
  <h2>Watchlists</h2>
  <select class="form-control" [(ngModel)]="selectedWatchlist" (change)="onChange($event.target.value)">
      <option *ngFor="let watchlist of watchlists" [value]="watchlist.id">{{watchlist.name}}</option>
  </select>
</div>

<div class="container movies">
  <div class="row">
    <div *ngFor="let movie of movies" class="col-md-3">
      <div class="card card-01 height-fix">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{movie.poster}}" alt="Card image cap">
        <div class="card-img-overlay">
          <h4 class="card-title"><strong>{{movie.title}}</strong></h4>
          <p class="card-text">{{movie.release_date}}</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view" routerLink="/movies/{{movie.id}}"><i class="fa fa-search"></i> Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
