<app-navbar></app-navbar>
<div class="container"> <h2>My Movies</h2>

<button class="btn btn-primary" (click)="sortAsc()">By Title Ascending</button>
<button class="btn btn-primary" (click)="sortDesc()">By Title Descending</button>
</div>

<div class="container movies">
<div class="row">
  <div *ngFor="let movie of movies" class="col-md-3">
        <div class="card card-01 height-fix">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{movie.poster}}" alt="Card image cap">
          <div class="card-img-overlay">
            <h4 class="card-title"><strong>{{movie.title}}</strong></h4>
            <button type="button" routerLink="/movies/{{movie.id}}" class="btn btn-primary" ><i class="fa fa-search"></i>View</button>
          </div>
        </div>
      </div>
    </div>
</div>

