<body>
<div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('../../assets/car1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand">
          <h1>{{title}}</h1>
          <h3>A Smart Way to Discover, Share and Rate Movies</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="section section-basic">
    <div class="container">
      <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <!--<hr class="featurette-divider">-->

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Discovering movies <span class="text-muted">It'll blow your mind.</span></h2>
            <!--<p class="lead">test</p>-->
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../../assets/mar1.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <!--<p class="lead">test.</p>-->
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="https://cdn.vox-cdn.com/thumbor/2cUKeoc_LXCKDd1_weFLaFnSJR8=/0x0:1280x535/1200x800/filters:focal(473x129:677x333)/cdn.vox-cdn.com/uploads/chorus_image/image/57464497/image1.0.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->

      <div class="space-50"></div>
      <!--<div *ngIf="checkLogin()">-->
        <!--<section><div class="container">-->

          <!--<div class="row">-->
            <!--<div class="col-md-4">-->
              <!--<h3 class="text-center mb-5">Simple Card</h3>-->
              <!--<div class="card card-01">-->
                <!--<img class="card-img-top" src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Card image cap">-->
                <!--<div class="card-body">-->
                  <!--<span class="badge-box"><i class="fa fa-check"></i></span>-->
                  <!--<h4 class="card-title">Card title</h4>-->
                  <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                  <!--<a href="#" class="btn btn-default text-uppercase">Explore</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<h3 class="text-center mb-5">Watchlist</h3>-->
              <!--<div class="card card-01">-->
                <!--<img class="card-img-top" src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Card image cap">-->
                <!--<div class="card-body">-->
                  <!--<span class="badge-box"><i class="fa fa-check"></i></span>-->
                  <!--<h4 class="card-title">Card title</h4>-->
                  <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                  <!--<a href="#" class="btn btn-default text-uppercase">Explore</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<h3 class="text-center mb-5">Watchlist</h3>-->
              <!--<div class="card card-01">-->
                <!--<img class="card-img-top" src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Card image cap">-->
                <!--<div class="card-body">-->
                  <!--<span class="badge-box"><i class="fa fa-check"></i></span>-->
                  <!--<h4 class="card-title">Card title</h4>-->
                  <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                  <!--<a href="#" class="btn btn-default text-uppercase">Explore</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->
        <!--</div></section>-->
      <!--</div>-->

    </div>
  </div>
</div>








<footer class="footer ">
  <div class="container">
    <!--<nav class="pull-left">-->
      <!--<ul>-->
        <!--<li>-->
          <!--<a href="https://www.creative-tim.com">-->
            <!--Creative Tim-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="http://presentation.creative-tim.com">-->
            <!--About Us-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="http://blog.creative-tim.com">-->
            <!--Blog-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="https://www.creative-tim.com/license">-->
            <!--Licenses-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</nav>-->
    <div class="copyright pull-right">
      &copy;

      {{today | date:'fullDate'| slice:-4}}, <i class="material-icons">favorite</i>
      Developing Services for the Cloud, Group 8
    </div>
  </div>
</footer>

</body>

